<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>397240281555-87gah8d4l6u47fqk2v63h6hh640bsmc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397240281555-87gah8d4l6u47fqk2v63h6hh640bsmc1</string>
	<key>API_KEY</key>
	<string>AIzaSyBM1XfTCtDTaF-00PfzSq4RUADXsF0jwVY</string>
	<key>GCM_SENDER_ID</key>
	<string>397240281555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Learning.PhotoFeed</string>
	<key>PROJECT_ID</key>
	<string>webstore-de05f</string>
	<key>STORAGE_BUCKET</key>
	<string>webstore-de05f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397240281555:ios:6a411a6408252575</string>
	<key>DATABASE_URL</key>
	<string>https://webstore-de05f.firebaseio.com</string>
</dict>
</plist>